{% trans_default_domain 'FOSUserBundle' %}

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>Admin</b>EVM
        </div>
        <div class="login-box-body">
            {% if invalid_username is defined %}
                <div class="alert alert-danger">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</div>
            {% endif %}
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" id="username" name="username" required="required" placeholder="{{ 'resetting.request.username'|trans }}"/>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <input class="btn btn-primary btn-flat" type="submit" id="_submit" name="_submit" value="{{ 'resetting.request.submit'|trans }}" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>