{% set gradient = 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3))' %}

<a class="sidebar-item"  ng-href="#/" style="background-image: {{ gradient }},  url('http://media.stephenfriedman.com/images/1680/Installation_view_Kehinde_Wiley_The_World_Stage_Jamaica_Stephen_Friedman_Gallery_11_wiley-at-sfg-2013_11381840380.jpg')">
    <span></span>
    <div class="sidebar-item-text">Bit-Cup 2016</div>
</a>
<a class="sidebar-item" ng-href="{{ path('gallery_index') }}" style="background-image: {{ gradient }}, url('http://media.stephenfriedman.com/images/1680/Installation_view_Kehinde_Wiley_The_World_Stage_Jamaica_Stephen_Friedman_Gallery_11_wiley-at-sfg-2013_11381840380.jpg')">
    <span></span>
    <div class="sidebar-item-text">Фотогалерея</div>
</a>
<a class="sidebar-item"  ng-href="#/" style="background-image: {{ gradient }}, url('http://media.stephenfriedman.com/images/1680/Installation_view_Kehinde_Wiley_The_World_Stage_Jamaica_Stephen_Friedman_Gallery_11_wiley-at-sfg-2013_11381840380.jpg')">
    <span></span>
    <div class="sidebar-item-text">Online-курсы</div>
</a>
<a class="sidebar-item"  ng-href="#/" style="background-color: #2ab4c0">
    <span></span>
    <div class="sidebar-item-text">Олимпиады и <br> конкурсы по <br> программированию</div>
</a>

<script>
    jQuery(function ($) {
        $(".sidebar-item").mouseenter(function() {
            $(this).children("span").addClass("horizontal-line");
            $(this).children(".sidebar-item-text").addClass("hovered");
        }).mouseleave(function() {
            $(this).children("span").removeClass("horizontal-line");
            $(this).children(".sidebar-item-text").removeClass("hovered");
        });
    });
</script>

{#<script>#}
    {#jQuery(function ($) {#}
        {#$(".sidebar-item").mouseenter(function() {#}
            {#$(this).children("span").css("border-top", "2px solid #fdd400").css("margin-top", "28px");#}
        {#}).mouseleave(function() {#}
            {#$(this).children(".sidebar-item-text").css("border-top", "none").css("margin-top", "30px");#}
        {#});#}
    {#});#}
{#</script>#}
