department_site_page:
    resource: "@DepartmentSitePageBundle/Resources/config/routing.yml"

department_site_menu:
    resource: "@DepartmentSiteMenuBundle/Resources/config/routing.yml"
    prefix:   /

department_site_dictionary:
    resource: "@DepartmentSiteDictionaryBundle/Resources/config/routing.yml"
    prefix:   /

department_site_default:
    resource: "@DepartmentSiteDefaultBundle/Resources/config/routing.yml"

department_site_advert:
    resource: "@DepartmentSiteAdvertBundle/Resources/config/routing.yml"
    prefix:   /

department_site_news:
    resource: "@DepartmentSiteNewsBundle/Resources/config/routing.yml"
    prefix:   /

admin:
    resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'
    prefix: /admin

_sonata_admin:
    resource: .
    type: sonata_admin
    prefix: /admin

fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"

elfinder:
     resource: "@FMElfinderBundle/Resources/config/routing.yml"
