sonata_admin:
    title: 'EVM'
    templates:
          layout: 'ApplicationSonataAdminBundle::standard_layout_override.html.twig'


sonata_block:
    default_contexts: [cms]
    blocks:
      # Enable the SonataAdminBundle block
      sonata.admin.block.admin_list:
        contexts:  [admin]