.sidebar {
  width: 258px;
}

.sidebar .sidebar-item {
  background-size: cover;
  display: block;
  height: 240px;
  position: relative;
}

.sidebar .sidebar-item-text {
  color: white;
  font-family: CirceExtraBold, sans-serif;
  font-size: 16px;
  margin: 40px 0px 0px 20px;
  position: absolute;
  text-transform: uppercase;
}

.sidebar .sidebar-item-text:hover,
.sidebar .sidebar-item-text:focus
{
  /*margin-top: 28px;*/
  text-decoration: none;
  color: #fdd400;
  /*border-top: 2px solid #fdd400;*/
}

.sidebar .hovered {
  color: #fdd400;
}
.sidebar .horizontal-line {
  position: absolute;
  content: '';
  border-top: 2px solid #fdd400;
  margin-left: 20px;
  padding-right: 80px;
  margin-top: 20px;
}

@media (max-width: 991px) {
   .sidebar {
      width: 100%;
    }
}

