{% block user_block %}
    <form action="/admin/logout">
        <input class="btn btn-block btn-danger" style="margin-top: 11%" type="submit" id="_submit" name="_submit"
               value="Logout"/>
    </form>
{% endblock %}
