<div class="banner">
    <div class="container">
        <ul class="links-list pull-right">
            <li><a ng-href="#/news">Студентам</a></li>
            <li><a ng-href="#/announcements">Абитуриентам</a></li>
            <li><a ng-href="#/projects">Дипломникам</a></li>
            <li><a ng-href="#/">Родителям</a></li>
        </ul>
        <a ng-href="{{ path('department_site_default_homepage') }}">
            <div class="evm-logo"></div>
        </a>
        <div class="banner-title">Кафедра
            <br />электронных
            <br />вычислительных машин</div>
        <div class="banner-lead">Белорусский государственный университет
            <br />информатики и радиоэлектроники</div>
    </div>
</div>
