<div class="banner">
    <div class="container">
        {{ render(controller('DepartmentSiteDefaultBundle:Default:getBannerMenu', {'_locale' : _locale})) }}
        <a ng-href="{{ path('department_site_default_homepage') }}">
            <div class="evm-logo"></div>
        </a>
        <div class="banner-title">Кафедра
            <br />электронных
            <br />вычислительных машин</div>
        <div class="banner-lead">Белорусский государственный университет
            <br />информатики и радиоэлектроники</div>
    </div>
</div>
