<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li class="focus">
                        {% if _locale == 'en' %}
                            <a href="{{ path('department_site_default_homepage', {'_locale': 'ru'}) }}">RUS</a>
                        {% else %}
                            <a href="{{ path('department_site_default_homepage', {'_locale': 'en'}) }}">ENG</a>
                        {% endif %}
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{ render(controller('DepartmentSiteDefaultBundle:Default:getHeaderMenu', {'_locale' : _locale} )) }}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    &times;</button>
                <h4 class="modal-title">Войти на сайт</h4><input class="form-control login-input" id="email" name="email" placeholder="Логин" type="email"/><input class="form-control login-input" id="key" name="key" placeholder="Пароль" type="password"/>
                <a class="forgot-passw" ng-href="#/">Забыли пароль?</a>
                <button class="btn login-btn" data-dismiss="modal" type="button">Войти</button>
            </div>
        </div>
    </div>
</div>