{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <span>{{  page.translate(_locale).getTitle()  }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="page-content-inside">{{ page.translate(_locale).getContent() | raw }}</div>
            </div>
        </div>
    </div>
{% endblock %}

