{% extends "FOSUserBundle::layout.html.twig" %}



{% block fos_user_content %}

    {% trans_default_domain 'FOSUserBundle' %}

    <div class="form-group" ng-controller="RegisterCtrl">
            <select class="form-control" id="select_user" ng-model="formData.type" ng-change="processForm()">
                <option value="" disabled selected hidden>Выберите себя</option>
                {%  for user in users %}
                <option>{{ user }}</option>
                {% endfor %}
            </select>
        <div ng-bind-html="message | toHTML "></div>
    </div>
{% endblock fos_user_content %}