<ul class="nav navbar-nav navbar-right">
    {% for menuItem in menu %}
        <li><a ng-href='/page/{{ menuItem.getSlug() }}/show'>{{ menuItem.getTitle }}</a></li>
    {% endfor %}
    {#{{ menu[3].getTitle() }}#}
</ul>
