/* line 17, ../../../app/styles/layout/banner.scss */
.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/banner.jpg);
  background-size: cover;
  color: white;
  height: 540px;
  text-transform: uppercase;
}
/* line 24, ../../../app/styles/layout/banner.scss */
.banner .evm-logo {
  background-image: url(../images/evm-logo.png);
  height: 105px;
  margin: 30px 0;
  width: 164px;
}
/* line 29, ../../../app/styles/layout/banner.scss */
.banner .evm-logo:hover {
  cursor: pointer;
}
/* line 40, ../../../app/styles/layout/banner.scss */
.banner .links-list {
  margin-top: 70px;
}
/* line 43, ../../../app/styles/layout/banner.scss */
.banner .links-list > li {
  font-weight: bold;
  font-size: 16px;
  display: inline;
  text-transform: none;
  margin-right: 37px;
  color: #fff;
}
/* line 51, ../../../app/styles/layout/banner.scss */
.banner .links-list > li a {
  color: #fff;
}
/* line 54, ../../../app/styles/layout/banner.scss */
.banner .links-list > li a:hover,
.banner .links-list > li a:focus {
  text-decoration: none;
  color: #fdd400;
}
/* line 60, ../../../app/styles/layout/banner.scss */
.banner .links-list > li:hover, .banner .links-list > li:focus {
  border-bottom: 2px solid #fdd400;
}
/* line 66, ../../../app/styles/layout/banner.scss */
.banner .banner-title {
  font-family: CirceExtraBold, sans-serif;
  font-size: 40px;
  line-height: 60px;
  padding: 24px 0;
}
/* line 73, ../../../app/styles/layout/banner.scss */
.banner .banner-lead {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  padding: 10.8px 0;
}

@media (max-width: 768px) {
  /* line 83, ../../../app/styles/layout/banner.scss */
  .banner .banner-title {
    font-size: 32px;
    padding: 20px 0;
    line-height: 36px;
  }
  /* line 88, ../../../app/styles/layout/banner.scss */
  .banner .banner-lead {
    font-size: 14px;
    padding: 10px 0;
    line-height: 18px;
  }

  .banner .links-list > li {
    display: block;
    margin-bottom: 20px;
  }

}
@media (max-width: 368px) {
  /* line 98, ../../../app/styles/layout/banner.scss */
  .banner .banner-title {
    font-size: 26px;
    line-height: 32px;
  }

  .banner .links-list {
    margin-top: 170px;
  }
}
@media (max-width: 300px) {
  /* line 107, ../../../app/styles/layout/banner.scss */
  .banner .banner-title {
    font-size: 18px;
    line-height: 24px;
  }
}
