{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div >
        {% if object | itm_file_exists('image') %}
            <img src="{{ object | itm_ipw_path('image') | imagine_filter('preview') }}" />
        {% endif %}
    </div>
{% endblock %}